$background-color-active-route: #673ab7; // TODO: use $something from @angular/material "current" theme

.mat-button {
    color: lightgrey;
}

.active-route {
    color: $background-color-active-route !important; // #673ab7 = $primary in @angular/material
    font-weight: bold;
    background-color: lightgrey;
}

.container {
    display: flex;
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
    height: 5vh; /* 5% of the viewport height */
    width: 100%; /* Full width of the screen */
}





